.list-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.users-list {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  row-gap: 20px;
}

.users-list::-webkit-scrollbar {
  display: none;
}

.users-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
