.list-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.users-list {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  flex: 1;
  overflow: scroll;
}

.users-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
